<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AppGroupId</key>
    <string>$(CUSTOM_GROUP_ID)</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>dev.flutter.background.refresh</string>
    </array>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>VRCN</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>abuki</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>abuki</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>aihuru</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>aihuru</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>annobu</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>annobu</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>enadori</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>enadori</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>etoeto</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>etoeto</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>hare</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>hare</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>kabi_lun</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>kabi_lun</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>kazkiller</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>kazkiller</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>le0yuki</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>le0yuki</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>masukawa</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>masukawa</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>miyamoto</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>miyamoto</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>nullkalne</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>nullkalne</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>pampy</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>pampy</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>r4in</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>r4in</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>ray</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>ray</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>rea</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>rea</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>roize</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>roize</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>sasami_st</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>sasami_st</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>vrcn_icon</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>vrcn_icon</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>vrcn_logo</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>vrcn_logo</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>yume</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>yume</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
      </dict>
      <key>CFBundleIcons~ipad</key>
      <dict>
        <key>abuki</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>abuki</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>aihuru</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>aihuru</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>annobu</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>annobu</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>enadori</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>enadori</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>etoeto</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>etoeto</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>hare</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>hare</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>kabi_lun</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>kabi_lun</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>kazkiller</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>kazkiller</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>le0yuki</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>le0yuki</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>masukawa</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>masukawa</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>miyamoto</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>miyamoto</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>nullkalne</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>nullkalne</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>pampy</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>pampy</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>r4in</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>r4in</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>ray</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>ray</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>rea</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>rea</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>roize</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>roize</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>sasami_st</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>sasami_st</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>vrcn_icon</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>vrcn_icon</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>vrcn_logo</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>vrcn_logo</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>yume</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>yume</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLocalizations</key>
    <array>
      <string>en</string>
      <string>ja</string>
      <string>ko</string>
      <string>zh-CN</string>
      <string>zh-TW</string>
    </array>
    <key>CFBundleName</key>
    <string>vrchat</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>vrcn</string>
          <string>SharingMedia-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>FlutterDeepLinkingEnabled</key>
    <false/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>QRコードをスキャンするためにカメラを使用します</string>
    <key>NSFaceIDUsageDescription</key>
    <string>アプリへのアクセスを安全に保つために生体認証を使用します</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>OSCコントローラーでローカルネットワーク上の機器へ接続するために使用します</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>写真を保存するために使用します</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>画像を選択するために写真ライブラリにアクセスします</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>INSendMessageIntent</string>
    </array>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>com.apple.developer.associated-domains</key>
    <array>
      <string>applinks:vrchat.onelink.me</string>
      <string>applinks:vrcn.onelink.me</string>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <false/>
      <key>UISceneConfigurations</key>
      <dict>
        <key>UIWindowSceneSessionRoleApplication</key>
        <array>
          <dict>
            <key>UISceneClassName</key>
            <string>UIWindowScene</string>
            <key>UISceneDelegateClassName</key>
            <string>FlutterSceneDelegate</string>
            <key>UISceneConfigurationName</key>
            <string>flutter</string>
            <key>UISceneStoryboardFile</key>
            <string>Main</string>
          </dict>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
